@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
html {
	font-family: 'Jost', sans-serif;
	text-align: center;
	font-size: 17px;
	line-height: 22px;
	color: #373635;
}

/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */


p {
	
	padding: 0 25px;
}

/* -- FORMS -- */

label {
	display: block;
	padding: .5rem;
	color: #fff;
}

input, textarea, select {
	background-color: transparent;
	border: solid #fff;
	color: #fff;
}

textarea {
	padding: 1rem;
}



/* -- LISTS -- */
li {
	list-style-type: none;
	display: block;
	padding: 0;
}

nav li {
	display: inline-block;
}

ol {
	padding-left: 25px;
}

a {
	text-decoration: none;
	color: #fff;
}


/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

@media screen and (min-width: 768px) {     /*medium display */

.flex {
	display: flex;
}
	
	p {
		font-size: .9rem;
	}
	
}

@media screen and (min-width: 1024px) {    /*large display */

	p {
		font-size: 1.05rem;
	}
}



/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

.center {
	align-items: center;
}
	
#mission {
	padding: 3rem calc(100%*1/12);
}

#mission p:last-child {
	padding: 1.5rem 0 3rem;
	
}

#packages h2, #packages>header h3 {
	margin-top: 3rem;
}

#packages header.bg-blk p:last-of-type {
	padding-bottom: 3rem;
}

.bg-purp p, #packages p {
	font-weight: 600;
}

#surfer_indigo {
	margin-top: 0;
}

/* -- BUTTONS -- */
.btn {
	border: solid 3px #fff;
	font-weight: 600;
	padding: 20px;
}


.btn:hover {
	color: #373635;
	background-color: #fff;
}

p.btn a {
	padding: 1.5rem 0 3rem;
}
/* -- HEADER -- */
h1 {
	position: relative;
	top: 70px;
}

h2 {
	font-size: 1.25rem;
	font-weight: 800;
	margin: 2.5rem 0 1.25rem;
}

h3 {
	padding: .5rem 1.5rem;
}
header > div {
	margin-top: 5rem;
}

header >div:last-child {
	margin-top: 0;
}

header div.bg-blk, #sunset p {
	font-size: 1.17rem;
	font-weight: 800;
}

header div.bg-blk {
	padding: 2.5rem 0;
}
@media screen and (min-width: 768px) {     /*medium display */

header div.bg-blk, #sunset p {
	font-size: 1.33rem;
}

	
}

@media screen and (min-width: 1024px) {    /*large display */


	
}
/* -- NAVIGATION -- */
nav {
	font-size: .65rem;
}

nav li {
	margin-right: 2rem;
}

.bg-orange p, bg-blk p {
	margin: 2.5rem 1.25rem;
}
	
#safety {
	background: url("../img/surfer1.jpg") no-repeat center center scroll; 
	-webkit: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
			
		}

#safety p:first-child {
	font-weight: 800;
}

#sunset {
	background: url("../img/sunset.jpg") no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin: 10px 0;
	padding: 3rem 0;
			
		}


#packages header span, #bg-purp p span {
	font-weight: 800;
}

.bg-purp>p:last-child {
	padding: 1.5rem 0 3rem 0;
}
#packages header.bg-blk p:first-of-type {
	text-transform: none;
}

#packages ul {
	text-align: center;
	padding-left: 0;
}
#packages li {
	line-height: 1.25rem;
}


#packages header.bg-blk p {
	margin: 20px 0;
}

#packages header a:hover {
	color: #ffa643;
}

#bg-purp>p {
	padding-bottom: 1.5rem;
	margin: 0;
}

.pkg {
	padding: 1.5rem 2rem;
}



.pkg p:last-child {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	
}

#signup {
	background: url("../img/bg-form.jpg") no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin: 10px 0;
	padding: 3rem 0;
			
		}
	
footer ol li {
	display: inline-block;
	text-align: left;
	font-size: .75rem;
}

footer div{
	padding: 1.5rem 0;
}
/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */

#packages header.bg-blk, form {
	text-align: left;
	text-transform: uppercase;
}

#packages h2, #packages section {
	text-align: center;
}

#packages section {
	text-transform: uppercase;
}

/* -- COLOR -- */

.bg-orange {
		background-color: #ffa643;
	} 
		
.bg-purp {
			background-color: #d0b4db;
	}

.bg-blk {
	background-color: #373635;
	color: #fff;
	
}

nav a {
	color: #373635;
}
nav a:hover {
	color: #d0b4db;
}
/* -- SIZE -- */

.tl-rnd {
	border-top-left-radius: 5%;
}

.tr-rnd {
	border-top-right-radius: 5%;
}

.bl-rnd {
	border-bottom-left-radius: 5%;
}

.br-rnd {
	border-bottom-right-radius: 5%;
}

.uppercase, .btn {
	text-transform: uppercase;
}


